*,
*::before,
*::after {
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
}

div.App {
   font-family: "Montserrat", sans-serif;
   letter-spacing: 0.5px;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
}

h1 {
   text-transform: uppercase;
   font-size: 50px;
   font-weight: 400;
   color: #fff;
   margin: 0;
}

.orange-btn {
   color: #fff;
   background-color: #e3872d;
   font-weight: 600;
   padding: 12px 35px;
   border-radius: 3px;
   display: inline-block;
   cursor: pointer;
   border: 0;
   font-family: "Montserrat";
   line-height: 1.8;
   font-size: 14px;
}

.orange-btn:hover {
   background-color: #041230;
   transition-duration: 0.6s;
}

/* SIDE NAVIGATION */
.side-navigation {
   background-color: #041230;
   width: 300px;
   height: 100vh;
   position: fixed;
   z-index: 1;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   top: 0;
   left: 0;
}

.side-navigation .logo-container {
   display: flex;
   justify-content: center;
   padding: 25px 0px;
   border-bottom: 1px solid rgba(255, 255, 255, 0.1);
   margin-bottom: 50px;
}

.side-navigation nav.links {
   padding: 0 20px 0 60px;
}

.side-navigation a {
   text-decoration: none;
}

.side-navigation p.logo-text {
   color: #fff;
   font-size: 140px;
   font-family: "Racing Sans One";
   font-weight: bold;
   margin: 0;
}

nav.links ul {
   padding: 0;
   margin: 0;
   list-style-type: none;
}

.side-navigation .links a:hover {
   color: #e3872d;
}

nav.links ul li a {
   color: #fff;
   text-transform: uppercase;
   display: inline-block;
   padding: 15px 0px;
   transition: all 0.3s ease;
   font-weight: 500;
}

.side-navigation .socials {
   padding: 0 20px 0 60px;
}

.side-navigation .socials ul {
   list-style-type: none;
   padding: 0;
   margin: 50px 0px;
   display: flex;
   column-gap: 20px;
}

.side-navigation img.social-logo {
   height: 14px;
   width: 14px;
   display: block;
   transition: all 0.24s ease;
}

.side-navigation img.social-logo:hover {
   filter: invert(50%) sepia(45%) saturate(1315%) hue-rotate(339deg)
      brightness(92%) contrast(92%);
}

/* HERO SECTION */
.hero-section {
   background-image: url("/src/assets/coding-background.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: calc(100% - 300px);
}

.content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   backdrop-filter: brightness(60%) blur(6px);
}

.hero-section span.second-header-text {
   font-weight: 500;
   color: #e3872d;
}

.hero-section span.second-paragraph-text {
   font-weight: 600;
}

.hero-section p {
   color: #fff;
   margin: 0;
   font-size: 24px;
}

/* ABOUT ME SECTION */
.about-me-section {
   width: calc(100% - 300px);
}

.about-me-section .container {
   display: flex;
   flex-direction: column;
   max-width: 1450px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 150px;
}

.about-me-section .intro-text,
.services-section .intro-text,
.my-works-section .intro-text {
   padding-left: 25px;
   border-left: 6px solid #e3872d;
   margin: 100px 0;
}

.about-me-section .intro-text h2,
.services-section .intro-text h2,
.my-works-section .intro-text h2 {
   margin: 0;
   font-size: 50px;
   text-transform: uppercase;
   font-weight: 600;
   letter-spacing: -0.5px;
   line-height: 1;
}

.about-me-section .intro-text p,
.services-section .intro-text p,
.my-works-section .intro-text p {
   margin: 0;
   font-size: 16px;
   line-height: 1.8;
   font-weight: 400;
}

.about-me-section .container-about-me {
   display: flex;
   flex-wrap: wrap;
   padding-bottom: 122px;
}

.about-me-section .picture-wrapper {
   width: 35%;
   padding-right: 40px;
   position: relative;
}

.about-me-section .picture-wrapper img {
   width: 100%;
   height: 100%;
   display: block;
}

.about-me-section .picture-wrapper .profile-border-custom {
   width: calc(100% - 40px);
   height: 100%;
   border: 10px solid #041230;
   position: absolute;
   top: 25px;
   left: 25px;
   z-index: -10;
}

.about-me-section .text-wrapper {
   width: 65%;
   padding-left: 65px;
}

.about-me-section .container-about-me .text-wrapper h3 {
   font-size: 24px;
   margin: 0 0 18px;
   line-height: 1;
   font-weight: 500;
}

.about-me-section .container-about-me .text-wrapper .second-header-text {
   color: #e3872d;
   font-weight: 600;
}

.about-me-section .container-about-me .text-wrapper p.paragraph-text {
   color: #333;
   font-size: 14px;
   line-height: 1.8;
   margin: 0;
   font-family: "Open Sans";
   margin-bottom: 15px;
}

.about-me-section .container-about-me .text-wrapper span.second-paragraph-text {
   color: #e3872d;
   font-weight: bold;
}

.about-me-section ul.information-about-me {
   display: grid;
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr;
   list-style-type: none;
   padding: 0;
   margin: 0 0 15px;
   row-gap: 10px;
   font-family: "Open Sans";
   font-size: 14px;
   line-height: 1.8;
}

.about-me-section ul.information-about-me span.bold-text {
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 13px;
   color: #000;
   display: inline-block;
   min-width: 85px;
}

.about-me-section .text-wrapper .buttons-wrap {
   display: flex;
   column-gap: 30px;
}

/* ABILITIES SECTION */
.abilities-section {
   width: calc(100% - 300px);
   background-color: #f6f7fd;
   padding: 90px 0px;
}

.abilities-section .abilities-wrap {
   max-width: 1450px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 150px;
   display: flex;
}

.abilities-section .text h4 {
   margin: 0;
   font-size: 24px;
   font-weight: 500;
   margin-bottom: 18px;
   line-height: 1;
}

.abilities-section .text p {
   font-family: "Open Sans";
   font-size: 14px;
   margin: 0;
   line-height: 1.8;
}

.abilities-section .text {
   width: 35%;
}

.abilities-section .showcase-list {
   width: 65%;
   padding-left: 65px;
   display: flex;
   flex-direction: column;
}

.abilities-section .skill {
   border-bottom: 5px solid #333;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
   margin-bottom: 15px;
}

.abilities-section p.skill-name {
   font-size: 13px;
   font-weight: 700;
   color: #000;
   margin: 5px 0;
}

.abilities-section .skill {
   border-bottom: 5px solid #333;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}

/* SERVICES SECTION */
.services-section {
   width: calc(100% - 300px);
}

.services-section .container {
   max-width: 1450px;
   margin-left: auto;
   margin-right: auto;
   padding: 100px 150px 0;
   display: flex;
   flex-direction: column;
}

.services-section .service-list {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.services-section .service-list .service-item {
   width: calc((100% - 60px) / 3);
   padding: 40px 40px 33px 40px;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
   transition: all 0.3s ease;
   height: fit-content;
}

.services-section .service-list .service-item:hover {
   margin-top: -5px;
}

.services-section img.orange-service-logo {
   width: 40px;
   height: 40px;
   display: block;
   filter: invert(58%) sepia(94%) saturate(957%) hue-rotate(343deg)
      brightness(95%) contrast(86%);
}

.services-section .service-item h3 {
   margin: 30px 0 20px;
   font-size: 22px;
   font-weight: 600;
   color: #000;
   line-height: 1;
}

.services-section .service-item p {
   margin: 0;
   font-family: "Open Sans";
   line-height: 1.8;
   font-size: 14px;
}

/* MY WORKS SECTION */
.my-works-section {
   width: calc(100% - 300px);
}

.my-works-section .container {
   max-width: 1450px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 150px 70px;
}

.my-works-section .content-box {
   height: 350px;
   width: 400px;
   background-color: #a8a8a8;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 30px;
}

.my-works-section h4.no-content {
   margin: 0;
   font-size: 36px;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: -1px;
   line-height: 1;
   color: #fff;
   font-family: "Open Sans";
}

/* CODING INFO SECTION */
.coding-info-section {
   width: calc(100% - 300px);
   background-color: #f6f7fd;
}

.coding-info-section .container {
   max-width: 1450px;
   margin-left: auto;
   margin-right: auto;
   padding: 0 150px;
}

.coding-info-section ul {
   display: flex;
   flex-wrap: wrap;
   list-style-type: none;
   margin: 0;
   padding: 0;
   justify-content: center;
}

.coding-info-section ul li {
   width: 25%;
}

.coding-info-section .details {
   padding: 90px 15px 93px 15px;
   text-align: center;
   position: relative;
}

.coding-info-section ul li:nth-child(1) .details::after,
.coding-info-section ul li:nth-child(2) .details::after,
.coding-info-section ul li:nth-child(3) .details::after {
   content: "";
   position: absolute;
   width: 1px;
   background-color: #d1d7db;
   top: 35px;
   bottom: 35px;
   right: 0;
}

.coding-info-section .details h4 {
   font-size: 40px;
   font-weight: 700;
   margin: 0;
}

.coding-info-section .details p {
   color: #666;
   font-family: "Open Sans";
   font-size: 14px;
   font-weight: 600;
   margin: 0;
}
