*,
*::before,
*::after {
   box-sizing: border-box;
}

div.App {
   font-family: "Montserrat", sans-serif;
   letter-spacing: 0.5px;
}

h1 {
   text-transform: uppercase;
   font-size: 50px;
   font-weight: 400;
   color: #fff;
   margin: 0;
}

/* SIDE NAVIGATION */
.side-navigation {
   background-color: #041230;
   width: 300px;
   height: 100vh;
}

/* HERO SECTION */
.hero-section {
   background-image: url("/src/assets/coding-background.jpg");
   height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
}

.content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   backdrop-filter: brightness(60%) blur(2px);
}

.hero-section span.second-header-text {
   font-weight: 500;
   color: #e3872d;
}

.hero-section span.second-paragraph-text {
   font-weight: 600;
}

.hero-section p {
   color: #fff;
   margin: 0;
   font-size: 24px;
}
